<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

<section class="mainAlmoxarifado">
    <div class="title">
        <h1>ALMOXARIFADO <i class="fas fa-boxes"></i></h1>
        <i class="fas fa-columns" id="columnsIcon"></i>
        <i class="far fa-list-alt" id="listIcon"></i>
    </div>
    <div class="containerAlmoxarifado">
        <% for (let armario in produtosOrganizados) { %>
            <div class="armarios" id="armario<%= armario %>" tabindex="0">
                <h3>ARMÁRIO <%= armario %></h3>
                <% for (let prateleira in produtosOrganizados[armario]) { %>
                    <div class="prateleiras" id="A<%= armario %>P<%= prateleira %>" tabindex="0">
                        <h3>PRATELEIRA <%= prateleira %></h3>
                        <% produtosOrganizados[armario][prateleira].forEach(produto => { %>
                            <div class="cardItemAlmoxarifado">
                                <div class="imgItem">
                                    <img src="imgs/imgsDefault/materialEscolar.webp" alt="material Escolar">
                                </div>
                                <div class="infosItem">
                                    <div class="row">
                                        <label for="nomeItem">Item:</label>
                                        <input type="text" name="nomeItem" value="<%= produto.nomeProduto %>" disabled>
                                    </div>
                                    <div class="row rowAlt">
                                        <div class="col">
                                            <label for="corItem">Cor:</label>
                                            <input type="text" name="corItem" value="Azul" disabled>
                                        </div>
                                        <div class="col">
                                            <label for="qtdItem">Quantidade:</label>
                                            <input type="text" name="qtdItem" value="<%= produto.qtdEstoque %>" disabled>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label for="validItem">Validade:</label>
                                        <input type="text" name="validItem" value="Indeterminada" disabled>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
    <div class="listaGeralAlmoxarifado">
        <table class="sortTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">ID:  
                        <i class="fas fa-sort"></i>
                    </th>
                    <th onclick="sortTable(1)">PRODUTO: 
                        <i class="fas fa-sort"></i>
                    </th>
                    <th onclick="sortTable(2)">DESCRIÇÃO: 
                        <i class="fas fa-sort"></i>
                    </th>
                    <th onclick="sortTable(3)">QUANTIDADE: 
                        <i class="fas fa-sort"></i>
                    </th>
                    <th onclick="sortTable(4)">CATEGORIA: 
                        <i class="fas fa-sort"></i>
                    </th>
                    <th onclick="sortTable(5)">CÓD. BARRAS: 
                        <i class="fas fa-sort"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <% produtos.forEach(produto => { %>
                    <tr>
                        <td class="prodID"><span>#</span><%= produto.idProduto %></td>
                        <td><%= produto.nomeProduto %></td>
                        <td><%= produto.descricaoProduto %></td>
                        <td><%= produto.qtdEstoque %></td>
                        <td><%= produto.categoria.categoria %></td>
                        <td><%= produto.codBarraProd %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</section>
<script>
    document.querySelectorAll('.prateleiras').forEach(prateleira => {
        prateleira.addEventListener('focus', function() {
            this.classList.add('focused');
            this.closest('.armarios').classList.add('focused');
        });

        prateleira.addEventListener('blur', function() {
            this.classList.remove('focused');
            this.closest('.armarios').classList.remove('focused');
        });
    });

    document.getElementById('columnsIcon').addEventListener('click', function() {
            document.querySelector('.listaGeralAlmoxarifado').style.display = 'none';
            document.querySelector('.containerAlmoxarifado').style.display = 'flex';
        });

    document.getElementById('listIcon').addEventListener('click', function() {
        document.querySelector('.listaGeralAlmoxarifado').style.display = 'flex';
        document.querySelector('.containerAlmoxarifado').style.display = 'none';
    });
</script>

<%- include ('partials/footer.ejs') %>