<%- include ('partials/header.ejs') %>
<%- include ('partials/nav.ejs') %>

            <section class="mainEstoqueLimpeza">
                <div class="title">
                    <h1>ESTOQUE DA LIMPEZA 
                        <i class="fas fa-shipping-fast" id="entradasEstoqueLimpeza"></i>
                        <i class="fas fa-clipboard-list" id="internoEstoqueLimpeza"></i>
                        <i class="fas fa-dolly-flatbed" id="saidasEstoqueLimpeza"></i>
                    </h1>
                    <i class="fas fa-columns" id="columnsIcon"></i>
                    <i class="far fa-list-alt" id="listIcon"></i>
                </div>
                <div class="containerEstoqueLimpeza">
                    <% for (let armarioLimpeza in prodsLimpezaOrganizados) { %>
                        <div class="armarios" id="armario<%= armarioLimpeza %>" tabindex="0">
                            <h3>ARMÁRIO <%= armarioLimpeza %></h3>
                            <% for (let prateleiraLimpeza in prodsLimpezaOrganizados[armarioLimpeza]) { %>
                                <div class="prateleiras" id="A<%= armarioLimpeza %>P<%= prateleiraLimpeza %>" tabindex="0">
                                    <h3>PRATELEIRA <%= prateleiraLimpeza %></h3>
                                    <% prodsLimpezaOrganizados[armarioLimpeza][prateleiraLimpeza].forEach(prodLimpeza => { %>
                                        <div class="cardItemEstoqueLimpeza">
                                            <div class="imgItem">
                                                <img src="imgs/imgsDefault/materialEscolar.webp" alt="material Escolar">
                                            </div>
                                            <div class="infosItem">
                                                <div class="row rowAlt">
                                                    <div class="col">
                                                        <label for="nomeItem">Item:</label>
                                                        <input type="text" name="nomeItem" value="<%= prodLimpeza.nomeProduto %>" disabled>
                                                    </div>
                                                    <div class="col">
                                                        <label for="marcaItem">Marca:</label>
                                                        <input type="text" name="marcaItem" value="<%= prodLimpeza.marcaProd %>" disabled>
                                                    </div>
                                                </div>
                                                <div class="row rowAlt">
                                                    <div class="col">
                                                        <label for="corItem">Cor:</label>
                                                        <input type="text" name="corItem" value="<%= prodLimpeza.corProduto %>" disabled>
                                                    </div>
                                                    <div class="col">
                                                        <label for="qtdItem">Quantidade:</label>
                                                        <input type="text" name="qtdItem" value="<%= prodLimpeza.qtdEstoque %>" disabled>
                                                    </div>
                                                </div>
                                                <div class="row rowAlt">
                                                    <div class="col">
                                                        <label for="validItem">Validade:</label>
                                                        <input type="text" name="validItem" value="<%= dataDeValidade(prodLimpeza.validadeProd) %>" disabled>
                                                    </div>
                                                    <div class="col">
                                                        <label for="situacaoItem">Situação:</label>
                                                        <input type="text" name="situacaoItem" value="<%= prodLimpeza.situacaoProd %>" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                </div>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <div class="listaGeralEstoqueLimpeza">
                    <div class="gridGeral">
                        <div class="gridHead">
                            <span>PRODUTO: </span>
                            <span>DESCRIÇÃO: </span>
                            <span>MARCA: </span>
                            <span>COR: </span>
                            <span>QUANTIDADE: </span>
                            <span>VALIDADE: </span>
                            <span>CÓD. BARRAS: </span>
                            <span>SITUAÇÃO: </span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="gridBody">
                            <% prodsLimpeza.forEach(prodLimpeza => { %>
                                <div class="gridBodyRow">
                                    <span><%= prodLimpeza.nomeProduto %></span>
                                    <span><%= prodLimpeza.descricaoProduto %></span>
                                    <span><%= prodLimpeza.marcaProd %></span>
                                    <span><%= prodLimpeza.corProduto %></span>
                                    <span><%= prodLimpeza.qtdEstoque %></span>
                                    <span><%= dataDeValidade(prodLimpeza.validadeProd) %></span>
                                    <span><%= prodLimpeza.codBarraProd %></span>
                                    <span><%= prodLimpeza.situacaoProd %></span>
                                    <span><a class="myModalBtn" data-id="<%= prodLimpeza.idProduto %>"><i class="fas fa-eye"></i></a></span>
                                    <span><a href="<%= prodLimpeza.idProduto %>"><i class="fas fa-pencil-alt"></i></a></span>
                                    <span><a href="<%= prodLimpeza.idProduto %>"><i class="fas fa-eraser"></i></i></a></span>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <div class="modal-header">
                                <span class="close">&times;</span>
                                <h2>INFORMAÇÕES DETALHADAS: <span id="modalProdutoTitle"></span></h2>
                            </div>
                            <div class="modal-body">
                                <p>ID: <span id="modalId"></span></p>
                                <p>Produto: <span id="modalProduto"></span></p>
                                <p>Descrição: <span id="modalDescricao"></span></p>
                                <p>Cor: <span id="modalCor"></span></p>
                                <p>Quantidade: <span id="modalQuantidade"></span></p>
                                <p>Categoria: <span id="modalCategoria"></span></p>
                                <p>Código de Barras: <span id="modalCodBarras"></span></p>
                                <p>Local: <span id="modalLocalArmario"></span></p>
                                <p>Armario: <span id="modalArmario"></span></p>
                                <p>Prateleira: <span id="modalPrateleira"></span></p>
                            </div>
                            <div class="modal-footer">
                                <span>- Sistema de gerenciamento da EMEB PINGO DE GENTE -</span>
                            </div>
                        </div>
                    </div>
                    <!-- Elemento oculto para armazenar o JSON -->
                    <div id="produtosData" style="display: none;">
                        <%- JSON.stringify(prodsLimpeza) %>
                    </div>
                </div>
                <div class="entradasEstoqueLimpeza">
                    <h4>CADASTRO
                        <i id="moreFormsLimpeza" class="fas fa-plus-circle"></i>
                    </h4>
                    <form class="formEntradasEstoqueLimpeza" action="/eLimpeza/add" method="POST" tabindex="0">
                        <div class="newFormLimpeza"></div>
                        <input type="submit" class="btnFormEntradasEstoqueLimpeza" value="CADASTRAR">
                    </form>
                </div>
                <div class="internoEstoqueLimpeza">
                    <h4>ORGANIZAÇÃO INTERNA</h4>
                    <form class="formInterno" action="/almoxarifado/edit" method="POST" tabindex="0">
                        <div class="bodyForm">
                            <div class="desorganizado">
                                <% for (let armarioLimpeza in prodsLimpezaOrganizados) { %>
                                    <% if (armarioLimpeza == 0) { %>
                                        <div class="armarios armarioForm" id="armario<%= armarioLimpeza %>" tabindex="0">
                                            <h3>RECEBIDOS</h3>
                                            <% for (let prateleiraLimpeza in prodsLimpezaOrganizados[armarioLimpeza]) { %>
                                                <div class="prateleiras" id="A<%= armarioLimpeza %>P<%= prateleiraLimpeza %>" tabindex="0">
                                                    <h3>A organizar</h3>
                                                    <% prodsLimpezaOrganizados[armarioLimpeza][prateleiraLimpeza].forEach(prodLimpeza => { %>
                                                        <div class="cardItemEstoqueLimpeza">
                                                            <div class="imgItem">
                                                                <img src="imgs/imgsDefault/materialEscolar.webp" alt="material Escolar">
                                                            </div>
                                                            <div class="infosItem">
                                                                <div class="row rowAlt">
                                                                    <div class="col">
                                                                        <label for="codBarraProd">Cód. Barra</label>
                                                                        <input type="text" name="codBarraProd" value="<%= prodLimpeza.codBarraProd %>" disabled>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label for="nomeItem">Item:</label>
                                                                        <input type="text" name="idProdutoDesorg" value="<%= prodLimpeza.idProduto %>" hidden>
                                                                        <input type="text" name="nomeItem" value="<%= prodLimpeza.nomeProduto %>" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="row rowAlt">
                                                                    <div class="col">
                                                                        <label for="corItem">Cor:</label>
                                                                        <input type="text" name="corItem" value="<%= prodLimpeza.corProduto %>" disabled>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label for="qtdItem">Quantidade:</label>
                                                                        <input type="text" id="qtdItemDesorganizado<%= prodLimpeza.idProduto %>" name="qtdItem" value="<%= prodLimpeza.qtdEstoque %>" disabled>
                                                                    </div>
                                                                </div>
                                                                <div class="row rowAlt">
                                                                    <div class="col">
                                                                        <label for="descricaoProduto">Descrição:</label>
                                                                        <input type="text" name="descricaoProduto" value="<%= prodLimpeza.descricaoProduto %>" disabled>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label for="categoriaProd">Categoria:</label>
                                                                        <select name="categoriaProd" id="categoriaProd" disabled>
                                                                            <option value="1" <%= prodLimpeza.categoriaProd == 1 ? 'selected' : '' %>>Material de Limpeza</option>
                                                                            <option value="2" <%= prodLimpeza.categoriaProd == 2 ? 'selected' : '' %>>Produto de Limpeza</option>
                                                                            <option value="3" <%= prodLimpeza.categoriaProd == 3 ? 'selected' : '' %>>EPI</option>
                                                                            <option value="4" <%= prodLimpeza.categoriaProd == 4 ? 'selected' : '' %>>Produto de Higiêne</option>
                                                                            <option value="5" <%= prodLimpeza.categoriaProd == 5 ? 'selected' : '' %>>Material de Construção</option>
                                                                            <option value="6" <%= prodLimpeza.categoriaProd == 6 ? 'selected' : '' %>>Ferramentas</option>
                                                                            <option value="7" <%= prodLimpeza.categoriaProd == 7 ? 'selected' : '' %>>Material de Jardinagem</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% }); %>
                                                </div>
                                            <% } %>
                                        </div>
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="organizar">
                                <div class="armarios armarioForm" tabindex="0">
                                    <h3>DESTINOS
                                        <i id="moreCards" class="fas fa-plus-circle"></i>
                                    </h3>
                                    <div class="prateleiras" tabindex="0">
                                        <h3>ORGANIZANDO</h3>
                                        <div class="newCard"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btnFormEntradasEstoqueLimpeza" value="CADASTRAR">
                    </form>
                </div>
                <div class="saidasEstoquesLimpeza"></div>
            </section>
            <script>
                // ---------- EFEITO DE FOCUS ---------- //
                document.querySelectorAll('.prateleiras').forEach(prateleira => {
                    prateleira.addEventListener('focus', function() {
                        this.classList.add('focused');
                        this.closest('.armarios').classList.add('focused');
                    });

                    prateleira.addEventListener('blur', function() {
                        this.classList.remove('focused');
                        this.closest('.armarios').classList.remove('focused');
                    });
                });
                // ---------- EFEITO DE FOCUS ---------- //

                // ---------- MOSTRAR ESCONDER DIVS ---------- //
                document.getElementById('columnsIcon').addEventListener('click', function() {
                    document.querySelector('.containerEstoqueLimpeza').style.display = 'flex';
                    document.querySelector('.listaGeralEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.entradasEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.internoEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.saidasEstoquesLimpeza').style.display = 'none';
                });

                document.getElementById('listIcon').addEventListener('click', function() {
                    document.querySelector('.containerEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.listaGeralEstoqueLimpeza').style.display = 'flex';
                    document.querySelector('.entradasEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.internoEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.saidasEstoquesLimpeza').style.display = 'none';
                });

                document.getElementById('entradasEstoqueLimpeza').addEventListener('click', function() {
                    document.querySelector('.containerEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.listaGeralEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.entradasEstoqueLimpeza').style.display = 'flex';
                    document.querySelector('.internoEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.saidasEstoquesLimpeza').style.display = 'none';
                });

                document.getElementById('internoEstoqueLimpeza').addEventListener('click', function() {
                    document.querySelector('.containerEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.listaGeralEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.entradasEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.internoEstoqueLimpeza').style.display = 'flex';
                    document.querySelector('.saidasEstoquesLimpeza').style.display = 'none';
                });

                document.getElementById('saidasEstoqueLimpeza').addEventListener('click', function() {
                    document.querySelector('.containerEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.listaGeralEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.entradasEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.internoEstoqueLimpeza').style.display = 'none';
                    document.querySelector('.saidasEstoquesLimpeza').style.display = 'flex';
                });
                // ---------- MOSTRAR ESCONDER DIVS ---------- //
            </script>
            <script>
                // ---------- CRIAÇÃO DE NOVOS CARDS COM ORGANIZAÇÃO CONFORME DISPONIBILIDADE ---------- //
                document.getElementById('moreCards').addEventListener('click', function() {
                    var newCard = document.createElement('div');
                    let classNum = document.querySelectorAll('.cardItemEstoqueLimpeza').length + 1;
                    newCard.className = `cardItemEstoqueLimpeza card${classNum}`;
                    newCard.innerHTML = `
                        <div class="imgItem">
                            <img src="imgs/imgsDefault/materialEscolar.webp" alt="material Escolar">
                        </div>
                        <div class="infosItem">
                            <div class="row rowAlt">
                                <div class="col">
                                    <label for="codBarraProdNew">Cód. Barra</label>
                                    <select class="codBarraProdSelect" name="codBarraProdNew">
                                        <option value="">SELECIONE</option>
                                        <% for (let armarioLimpeza in prodsLimpezaOrganizados) { %>
                                            <% if (armarioLimpeza == 0) { %>
                                                <% for (let prateleiraLimpeza in prodsLimpezaOrganizados[armarioLimpeza]) { %>
                                                    <% prodsLimpezaOrganizados[armarioLimpeza][prateleiraLimpeza].forEach(produto => { %>
                                                        <option value="<%= produto.codBarraProd %>"
                                                            data-id="<%= produto.idProduto %>"
                                                            data-nome="<%= produto.nomeProduto %>"
                                                            data-desc="<%= produto.descricaoProduto %>"
                                                            data-cat="<%= produto.categoriaProd %>"
                                                            data-cor="<%= produto.corProduto %>"
                                                            data-qtd="<%= produto.qtdEstoque %>">
                                                            <%= produto.codBarraProd %>
                                                        </option>
                                                    <% }); %>
                                                <% } %>
                                            <% } %>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="nomeItemNew">Item:</label>
                                    <input type="text" class="nomeItem" name="nomeItemNew">
                                </div>
                                <div class="col">
                                    <i class="fas fa-minus-circle lessCard"></i>
                                </div>
                            </div>
                            <div class="row rowAlt">
                                <div class="col">
                                    <label for="corItemNew">Cor:</label>
                                    <input type="text" class="corItem" name="corItemNew">
                                </div>
                                <div class="col">
                                    <label for="qtdItemNew">Quantidade:</label>
                                    <input type="number" class="qtdItem" name="qtdItemNew" min="0">
                                </div>
                            </div>
                            <div class="row rowAlt">
                                <div class="col">
                                    <label for="descrProdNew">Descrição:</label>
                                <input type="text" class="descrProd" name="descrProdNew">
                                </div>
                                <div class="col">
                                    <label for="catProdNew">Categoria:</label>
                                    <select name="catProdNew" class="catProd">
                                        <option value="0">CATEGORIA</option>
                                        <option value="1">Material de Limpeza</option>
                                        <option value="2">Produto de Limpeza</option>
                                        <option value="3">EPI</option>
                                        <option value="4">Produto de Higiêne</option>
                                        <option value="5">Material de Construção</option>
                                        <option value="6">Ferramentas</option>
                                        <option value="7">Material de Jardinagem</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row rowAlt">
                                <div class="col">
                                    <label for="armarioDest">Armario:</label>
                                    <input type="text" name="armarioDest">
                                </div>
                                <div class="col">
                                    <label for="prateleiraDest">Prateleira:</label>
                                    <input type="text" name="prateleiraDest">
                                </div>
                            </div>
                        </div>
                    `;
                    document.querySelector('.newCard').appendChild(newCard);
                    attachEventListeners(newCard);
                    newCard.querySelector('.lessCard').addEventListener('click', function() {
                        newCard.remove();
                    });
                });

                function attachEventListeners(card) {
                    var codBarraSelect = card.querySelector('.codBarraProdSelect');
                    var qtdItemInput = card.querySelector('.qtdItem');

                    codBarraSelect.addEventListener('change', function() {
                        var selectedOption = this.options[this.selectedIndex];
                        var nomeProduto = selectedOption.getAttribute('data-nome');
                        var corProduto = selectedOption.getAttribute('data-cor');
                        var qtdEstoque = selectedOption.getAttribute('data-qtd');
                        var descProd = selectedOption.getAttribute('data-desc');
                        var catProd = selectedOption.getAttribute('data-cat');
                        var produtoId = selectedOption.getAttribute('data-id');

                        card.querySelector('.nomeItem').value = nomeProduto;
                        card.querySelector('.corItem').value = corProduto;
                        card.querySelector('.descrProd').value = descProd;
                        card.querySelector('.catProd').value = catProd;
                        qtdItemInput.value = qtdEstoque;
                        qtdItemInput.setAttribute('data-id', produtoId);
                        qtdItemInput.setAttribute('data-original-qtd', qtdEstoque);
                    });

                    qtdItemInput.addEventListener('input', function() {
                        var quantidadeOrganizar = parseInt(this.value);
                        var produtoId = this.getAttribute('data-id');
                        var qtdDesorganizadoElement = document.getElementById('qtdItemDesorganizado' + produtoId);
                        var qtdDesorganizado = parseInt(qtdDesorganizadoElement.value);
                        var originalQtd = parseInt(this.getAttribute('data-original-qtd'));

                        var totalDistribuido = 0;
                        document.querySelectorAll('.qtdItem[data-id="' + produtoId + '"]').forEach(function(input) { totalDistribuido += parseInt(input.value) || 0; });

                        if (totalDistribuido <= originalQtd) { qtdDesorganizadoElement.value = originalQtd - totalDistribuido; }
                        else {
                            alert('A quantidade total distribuída não pode ser maior que a quantidade disponível.');
                            this.value = originalQtd - (totalDistribuido - quantidadeOrganizar);
                            qtdDesorganizadoElement.value = 0;
                        }
                    });
                }
                document.querySelectorAll('.cardItemEstoqueLimpeza').forEach(attachEventListeners);
                // ---------- CRIAÇÃO DE NOVOS CARDS COM ORGANIZAÇÃO CONFORME DISPONIBILIDADE ---------- //
            </script>
            <script>
                // ---------- CRIAÇÃO DE NOVOS FORMS CADASTRO ESTOQUE LIMPEZA ---------- //
                document.getElementById('moreFormsLimpeza').addEventListener('click', function() {
                    var newFormLimpeza = document.createElement('div');
                    let formNumLimpeza = document.querySelectorAll('.marginForm').length + 1;
                    newFormLimpeza.className = `marginForm form${formNumLimpeza}`;
                    newFormLimpeza.innerHTML = `
                        <i class="fas fa-minus-circle lessResponsive"></i>
                        <div class="rowForm firstRow">
                            <div class="colForm">
                                <label for="codBarraProd">Código de barras:</label>
                                <input type="text" name="codBarraProd" required>
                            </div>
                            <div class="colForm">
                                <label for="nomeProduto">Item:</label>
                                <input type="text" name="nomeProduto" required>
                            </div>
                            <div class="colForm">
                                <i class="fas fa-minus-circle lessForm"></i>
                            </div>
                        </div>
                        <div class="rowForm">
                            <div class="colForm">
                                <label for="descricaoProduto">Descrição:</label>
                                <input type="text" name="descricaoProduto" required>
                            </div>
                            <div class="colForm">
                                <label for="corProduto">Cor:</label>
                                <input type="text" name="corProduto" required>
                            </div>
                        </div>
                        <div class="rowForm">
                            <div class="colForm">
                                <label for="qtdEstoque">Quantidade:</label>
                                <input type="text" name="qtdEstoque" required>
                            </div>
                            <div class="colForm">
                                <label for="categoriaProd">Categoria:</label>
                                <select name="categoriaProd" id="categoriaProd" required>
                                    <option value="1">Material de Limpeza</option>
                                    <option value="2">Produto de Limpeza</option>
                                    <option value="3">EPI</option>
                                    <option value="4">Produto de Higiêne</option>
                                    <option value="5">Material de Construção</option>
                                    <option value="6">Ferramentas</option>
                                    <option value="7">Material de Jardinagem</option>
                                </select>
                            </div>
                        </div>
                        <div class="rowForm">
                            <div class="colForm">
                                <label for="marcaProd">Marca:</label>
                                <input type="text" name="marcaProd" required>
                            </div>
                            <div class="colForm">
                                <label for="validadeProd">Validade:</label>
                                <input type="text" name="validadeProd" required>
                            </div>
                        </div>
                        <div class="rowForm">
                            <div class="colForm">
                                <label for="tipoProd">Tipo:</label>
                                <select name="tipoProd" class="tipoProd" required>
                                    <option value="1">PLANOS</option>
                                    <option value="2">VOLUMOSOS</option>
                                    <option value="3">LÍQUIDOS</option>
                                    <option value="4">SÓLIDOS</option>
                                    <option value="5">VESTUÁRIO</option>
                                </select>
                            </div>
                            <div class="colForm">
                                <label for="situacaoProd">Situação:</label>
                                <select name="situacaoProd" class="situacaoProd" required>
                                    <option value="ABERTO">ABERTO</option>
                                    <option value="FECHADO">FECHADO</option>
                                </select>
                            </div>
                        </div>
                        <div class="rowForm planos">
                            <div class="colForm">
                                <label for="formaProd">Forma:</label>
                                <select name="formaProd" class="formaPlanaProd" required>
                                    <option value="Quadrado">Quadrado</option>
                                    <option value="Triângulo">Triângulo</option>
                                    <option value="Circulo">Circulo</option>
                                </select>
                            </div>
                            <div class="colForm retoPlano">
                                <label for="dimLargura">Largura(cm):</label>
                                <input type="number" name="dimLargura" required>
                            </div>
                            <div class="colForm retoPlano">
                                <label for="dimComprimento">Comprimento(cm):</label>
                                <input type="number" name="dimComprimento" required>
                            </div>
                            <div class="colForm circuloPlano">
                                <label for="dimRaio">Raio(cm):</label>
                                <input type="number" name="dimRaio" required>
                            </div>
                        </div>
                        <div class="rowForm volumosos">
                            <div class="colForm">
                                <label for="formaProd">Forma:</label>
                                <select name="formaProd" class="forma3DProd" required>
                                    <option value="Quadrado">Quadrado</option>
                                    <option value="Circulo">Circulo</option>
                                </select>
                            </div>
                            <div class="colForm reto3D">
                                <label for="dimLargura">Largura(cm):</label>
                                <input type="number" name="dimLargura" required>
                            </div>
                            <div class="colForm reto3D">
                                <label for="dimComprimento">Comprimento(cm):</label>
                                <input type="number" name="dimComprimento" required>
                            </div>
                            <div class="colForm">
                                <label for="dimAltura">Altura(cm):</label>
                                <input type="number" name="dimAltura" required>
                            </div>
                            <div class="colForm circulo3D">
                                <label for="dimRaio">Raio(cm):</label>
                                <input type="number" name="dimRaio" required>
                            </div>
                        </div>
                        <div class="rowForm liquidos">
                            <div class="colForm">
                                <label for="litros">Litros(ml):</label>
                                <input type="number" name="litros" required>
                            </div>
                        </div>
                        <div class="rowForm solidos">
                            <div class="colForm">
                                <label for="peso">Peso(g):</label>
                                <input type="number" name="peso" required>
                            </div>
                        </div>
                        <div class="rowForm vestuario">
                            <div class="colForm">
                                <label for="tamanho">TAMANHO:</label>
                                <input type="text" name="tamanho" required>
                            </div>
                        </div>
                        <div class="rowForm">
                            <div class="colForm">
                                <label for="armarioaEstoqueLimpeza">ARMARIO:</label>
                                <select name="armarioaEstoqueLimpeza" id="armarioaEstoqueLimpeza" required>
                                    <option value="0">RECEBENDO</option>
                                    <option value="1">Armario 1</option>
                                    <option value="2">Armario 2</option>
                                    <option value="3">Armario 3</option>
                                    <option value="4">Armario 4</option>
                                    <option value="5">Armario 5</option>
                                    <option value="6">Armario 6</option>
                                </select>
                            </div>
                            <div class="colForm">
                                <label for="prateleiraEstoqueLimpeza">PRATELEIRA:</label>
                                <select name="prateleiraEstoqueLimpeza" id="prateleiraEstoqueLimpeza" required>
                                    <option value="0">RECEBENDO</option>
                                    <option value="1">Prateleira 1</option>
                                    <option value="2">Prateleira 2</option>
                                    <option value="3">Prateleira 3</option>
                                    <option value="4">Prateleira 4</option>
                                    <option value="5">Prateleira 5</option>
                                    <option value="6">Prateleira 6</option>
                                    <option value="7">Prateleira 7</option>
                                </select>
                            </div>
                        </div>
                    `;
                    document.querySelector('.newFormLimpeza').appendChild(newFormLimpeza);
                    
                    // Adiciona o evento de clique ao ícone de remoção
                    newFormLimpeza.querySelector('.lessForm').addEventListener('click', function() { newFormLimpeza.remove(); });
                    newFormLimpeza.querySelector('.lessResponsive').addEventListener('click', function() { newFormLimpeza.remove(); });

                    // ---------- ABRIR E FECHAR OPÇÕES DE FORMAS DE PRODUTOS ESTOQUE DE LIMPEZA ---------- //
                    const tipoProd = newFormLimpeza.querySelector('.tipoProd');
                    const divPlanos = newFormLimpeza.querySelector('.planos');
                    const divVolumosos = newFormLimpeza.querySelector('.volumosos');
                    const divLiquidos = newFormLimpeza.querySelector('.liquidos');
                    const divSolidos = newFormLimpeza.querySelector('.solidos');
                    const divVestuario = newFormLimpeza.querySelector('.vestuario');

                    function handleTipoChange() {
                        const selectedValue = tipoProd.value;
                        divPlanos.style.display = 'none';
                        divVolumosos.style.display = 'none';
                        divLiquidos.style.display = 'none';
                        divSolidos.style.display = 'none';
                        divVestuario.style.display = 'none';

                        if (selectedValue === '1') { divPlanos.style.display = 'grid'; }
                        else if (selectedValue === '2') { divVolumosos.style.display = 'grid'; }
                        else if (selectedValue === '3') { divLiquidos.style.display = 'grid'; }
                        else if (selectedValue === '4') { divSolidos.style.display = 'grid'; }
                        else if (selectedValue === '5') { divVestuario.style.display = 'grid'; }
                    }

                    tipoProd.addEventListener('change', handleTipoChange);
                    handleTipoChange(); // Para garantir que a div correta esteja visível no carregamento inicial

                    const formaPlanaProd = newFormLimpeza.querySelector('.formaPlanaProd');
                    const divRetosPlanos = newFormLimpeza.querySelectorAll('.retoPlano');
                    const divCirculosPlanos = newFormLimpeza.querySelectorAll('.circuloPlano');

                    function handleFormaPlnaChange() {
                        const selectedValue = formaPlanaProd.value;
                        divRetosPlanos.forEach(div => div.style.display = 'none');
                        divCirculosPlanos.forEach(div => div.style.display = 'none');

                        if (selectedValue === 'Triângulo' || selectedValue === 'Quadrado') { 
                            divRetosPlanos.forEach(div => div.style.display = 'flex');
                        } else if (selectedValue === 'Circulo') {
                            divCirculosPlanos.forEach(div => div.style.display = 'flex');
                        }
                    }

                    formaPlanaProd.addEventListener('change', handleFormaPlnaChange);
                    handleFormaPlnaChange(); // Para garantir que a div correta esteja visível no carregamento inicial

                    const forma3DProd = newFormLimpeza.querySelector('.forma3DProd');
                    const divRetos3D = newFormLimpeza.querySelectorAll('.reto3D');
                    const divCirculos3D = newFormLimpeza.querySelectorAll('.circulo3D');

                    function handleForma3DChange() {
                        const selectedValue = forma3DProd.value;
                        divRetos3D.forEach(div => div.style.display = 'none');
                        divCirculos3D.forEach(div => div.style.display = 'none');

                        if (selectedValue === 'Quadrado') { 
                            divRetos3D.forEach(div => div.style.display = 'flex');
                        } else if (selectedValue === 'Circulo') {
                            divCirculos3D.forEach(div => div.style.display = 'flex');
                        }
                    }

                    forma3DProd.addEventListener('change', handleForma3DChange);
                    handleForma3DChange(); // Para garantir que a div correta esteja visível no carregamento inicial
                    // ---------- ABRIR E FECHAR OPÇÕES DE FORMAS DE PRODUTOS ESTOQUE DE LIMPEZA ---------- //
                });
                // ---------- CRIAÇÃO DE NOVOS FORMS CADASTRO ESTOQUE LIMPEZA ---------- //
            </script>
<%- include ('partials/footer.ejs') %>